doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(content='width=device-width initial-scale=1' name='viewport')
    title Apollo
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='icon' href='/favicon.ico')
    meta(property='api-url' content=api_url)
  body
